* {
    margin: 0px;
}

h1 {
    margin: 15px 0px;

    padding: 5px;
    border: 3px solid orange;

    width: 155px;
    height: 100%;

}

p {
    width: 100px;
    height: 100px;
}

.com-border-box {
    padding: 10px;
    background-color: brown;

    border: 10px solid;
    border-color: aquamarine;

    box-sizing: border-box;
}

.sem-border-box {
    padding: 10px;
    background-color: mediumturquoise;

    border: 10px solid;
    border-color: blueviolet;
}